version: "3.1"

language: en

pipeline:
- name: WhitespaceTokenizer
- name: LexicalSyntacticFeaturizer

- name: CountVectorsFeaturizer
  analyzer: word
  min_ngram: 1
  max_ngram: 2

- name: CountVectorsFeaturizer
  analyzer: char_wb
  min_ngram: 3
  max_ngram: 5

- name: DIETClassifier
  epochs: 100
  constrain_similarities: true

- name: EntitySynonymMapper

- name: FallbackClassifier
  threshold: 0.4
  ambiguity_threshold: 0.1

policies:
- name: RulePolicy
- name: MemoizationPolicy
  max_history: 10
- name: TEDPolicy
  max_history: 10
  epochs: 100

assistant_id: 20260123-185605-thundering-jigsaw
